/******************************************************************

Stylesheet: ベーススタイル(スマホ)

******************************************************************/

//ローマ字日本語の順で書く
body{
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

//Font
.font-sm{
  font-size: 14px;
}
.font-md{
  font-size: 17px;
}
.font-lr{
  font-size: 17px;
}
.font-lg{
  font-size: 25x;
}

//margin,padding
.mb-sm{
  margin-bottom: 16px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}
.pb-sm{
  padding-bottom: 16px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

//center
.content-width{
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title{
  @extend .font-sm;
  color: $cSubTitle;
}

.houses{
  @extend .content-width;

  &__title{
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__button{
    text-align: center;
  }
}

