@import 'mixin';

$cWhite: white;

//モバイルファーストなのでbaseが一番上にくる

@import "breakpoints/base";

//スマホを横に傾けたときのランドスケープに適応
@media (min-width: 480px) {
  @import "breakpoints/480up";
}

//Ipad等タブレットに適応
@media (min-width: 600px) {
  @import "breakpoints/600up";
}

//タブレットのランドスケープに適応
@media (min-width: 960px) {
  @import "breakpoints/960up";
}

//通常PCのディスプレイに適応
@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

//レティーナディスプレイに適応
@media (min-resolution: 192dpi)
      ,(-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

//印刷時に適応
@media print {
  @import "breakpoints/print";
}

body{
  margin: 0;
}

.swiper-container {
  //important句で詳細度を最優先に持ってくる
  overflow: visible !important;
}

.swiper-slide{
  height: 500px;
  overflow: hidden;

  //画像を親要素に合わせる
  & > img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;

    //引きの状態からactiveになったらtransformを解除
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }

  //擬似要素で画像の色を薄くする
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,61,125,0.1);
  }

  &-active{
    & > img{
      transform: none;
    }

    & > .hero__title{
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.hero{
  &__title{
    position: absolute;
    top: 50%;
    left: 50%;
    //中央揃えとアニメーションのデフォルトの1文字分のズレをcalcで表現
    transform: translate(-50%, calc(-50% + 20px));
    color: $cWhite;
    font-size: 25px;
    z-index: 2;

    //animation設定
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

  &__footer{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 22px;
    overflow: hidden;
  }

  &__downallow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;

    @include animation($name: kf-arrow-anime, $iteration-count: infinite, $duration: 2s, $timing-function: linear,)
  }

  &__scrolltext{
    position: absolute;
    top: 12px;
    left: -8px;
    transform: rotate(90deg);
    color: rgba(255,255,255,0.7);
    // font-size: 1.2em;
  }
}

@keyframes kf-arrow-anime{
  0%,
  50%,
  100%{
    transform: translateY(-10px);
  }
  30%{
    transform: none;
  }
}